body {
    background-image: url("imeges/land.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     

}
.form{
    margin: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    

}
.text {
    display: block;
    padding:10px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;  
    background-color:   rgb(123, 164, 234);
    

}
.submit {
    display: block;
    padding:10px 20px;
    background-color:rgb(20, 87, 220);
    border: 2px solid black;
    width: 200px;

    border-radius: 10px;

    
}
.password {
    display: block;
    padding:10px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
    background-color:   rgb(102, 151, 236);  
}
    